body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9pt;  
  background-color: #333333;
  color: #6F6F6F;
  margin: 0 auto;
}

.container_12 {
  color: #000000;
  background-color: #EBF2F5;
  border: solid #3F3F3F 2px;
}

.forkme {
	position: relative;
	display: block;
	top: 0;
	right: -1px;
	border: 0;
	margin-bottom: -149px;
}

.transition_div {
  background-color: #FFFAF0;
  border: none;
}

.transition_div .right {
  text-align: right;
  float: right;
  padding-right: 40px;
}

.logo_text {
  font-size:50pt;
  text-shadow: 0px 2px 3px #9fafaf;
  color: #2f4154;
  font-weight: bold;
}

.content {
  min-height: 500px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header_list {
  text-align: right;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #1F1F1F;
}

a:visited {
  color: #5C5C5C;
}

a:hover, a:active {
  color: #757575;
}

a.no_hover:link, a.no_hover:hover, a.no_hover:visited, a.no_hover:active {
  color: inherit;
}

.one-column-emphasis
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 45px;
  width: 600px;
  text-align: left;
  border-collapse: collapse;
}

.one-column-emphasis th
{
  font-size: 14px;
  font-weight: normal;
  padding: 12px 15px;
  color: #039;
}

.one-column-emphasis td
{
  padding: 10px 15px;
  color: #669;
  border-top: 1px solid #e8edff;
}

.oce-first
{
  background: #d0dafd;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.one-column-emphasis tr:hover td
{
  color: #339;
  background: #d6ddff;
}

.one-column-emphasis tr:hover .green
{
  color: #4DBD33;
}
.one-column-emphasis tr:hover .red
{
  color: #F00;
}

#flashes {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.flash {
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid;
  margin: 0px;
  padding: 8px 8px 8px 8px;
  width: 100%;
  font: bold 14px verdana;
  -moz-box-shadow-bottom: 0 0 5px #888;
  -webkit-box-shadow-bottom: 0 0 5px#888;
  box-shadow-bottom: 0 0 5px #888;
  text-shadow: 2px 2px 2px #ccc;
}

/*
.flash-info, .flash-success, .flash-warning, .flash-error {
  border: 1px solid;
  margin: 5px 0px;
  padding: 2px 2px 2px 2px;
  min-width: 500px; 
  font: bold 12px verdana;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  text-shadow: 2px 2px 2px #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 5px;
}
*/
.flash-info {
  color: #00529B;
  background: #BDE5F8;
}
.flash-success {
  color: #4F8A10;
  background: #DFF2BF;
}
.flash-warning {
  color: #9F6000;
  background: #FEEFB3;
}
.flash-error {
  color: #D8000C;
  background: #FFBABA;
}