{% extends "layout.html" %}
{% block title %}Apps/Manage{% endblock %}
{% block header %}ZK - Apps/Manage{% endblock %}
{% block content %}
<p>
	This is your application management panel.<br />
	From here, you can add, edit and remove your applications.
</p>
<table class="one-column-emphasis" summary="ZK App Management">
<thead>
	<tr>
		<th scope="col">ID</th>
		<th scope="col">Name</th>
		<th scope="col">Language</th>
		<th scope="col">Active</th>
		<th scope="col">Version</th>
		<th scope="col">Users</th>
		<th scope="col">Action</th>
	</tr>
</thead>
<tbody>
{% if apps %}
	{% for app in apps %}
		<tr>
			<td>{{ app.id }}</td>
			<td>{{ app.name }}</td>
			<td>{{ app.language }}</td>
			<td>{% if app.active == 1 %}Yes{% else %}No{% endif %}</td>
			<td>{{ app.version }}</td>
			<td>{{ app.users }}</td>
			<td style="font-size: 150%;">
				<a class="green" href="{{ url_for('app_edit', id=app.id) }}">&#10000;</a>
				<a class="red" href="{{ url_for('app_remove', id=app.id) }}">&#10006;</a>
				<!-- checkmark: &#10004; plus: &#10010;-->
			</td>
		</tr>
	{% endfor %}
{% endif %}
<tr>
	<!-- Do the padding on the <a> so that it takes up the whole row. -->
	<td colspan="7" style="padding: 0">
		<a style="display: block; padding: 10px 15px 10px 15px;" href="{{ url_for('app_add') }}">&#10010; Add a new app.</a>
	</td>
</tr>
</tbody>
</table>
{% endblock %}
